.col {
    padding-left: 14px;
    padding-right: 4px;
    padding-bottom: 8px;

    .title {
        color: #262626;
        font-weight: 400;
    }

    a {
        margin: 10px 10px;
        color: #8c8c8c;
        display: block;
    }

    .metaTitle {
        margin-left: -10px;
    }
}