.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
}
.logo {
    img {
        height: 32px;
    }
}
.search {
    input {
        background: #F5F5F5;
        outline: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .search {
        display: none;
    }
}
.menu {
    height: 60px;

    li[role='menuitem'] {
        height: 60px;
        line-height: 60px;
    }
}
.operation {
    display: flex;
    align-items: center;

    div {
        margin: 0 10px;
    }

    i {
        cursor: pointer;
    }
}

.popOver {
    padding: 8px 0px;
    cursor: pointer;

    li {
        padding: 8px 16px;
    }

    li:hover {
        background: #E9F7EC;
    }

    span {
        margin-left: 10px;
        margin-right: 15px;
    }

    .splitLine {
        border-bottom: 1px solid hsl(0, 0%, 91%);
    }
}