.col {
    padding-left: 4px;
    padding-right: 4px;

    .title {
        color: #262626;
        font-weight: 400;
    }

    p {
        margin-bottom: 2.5px;
        margin-top: 2.5px
    }

    i {
        float: right;
        color: #8c8c8c;
    }

    a {
        color: #8c8c8c;
    }

    .date {
        float: right;
        margin-left: 8px;
        color: #8c8c8c;
    }

    .split {
        margin: 0 5px;
    }
}